body {
  /*background-color: #2ed3ad;*/
  color: black;
  text-align: center;
}

em {
  font-size: 20px;
  color: hotpink;
}

ul {
  list-style-position: inside;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: hotpink;
}

.dark-background {
  background-color: darkgreen;
  color: white;
}

.light-background {
  background-color: yellow;
  color: black;
}
